<footer>
    <script src="/style.js"></script>
    <div class="foot">
        
        <img src="/lo.png" alt="Social Hub Logo" class="footer-logo">
    Copyright &copy; social Hub <%= new Date().getFullYear() %>
    <h4>Made with love by <span>Marvellous Ogunleke</span></h4>
    </div>
    
</footer>