<footer>
    <script src="../../public/style.js"></script>
    <div class="foot">
        <img src="/lo.png" alt="Social Hub Logo" class="footer-logo">
    Copyright &copy; social Hub <%= new Date().getFullYear() %>
    </div>
    
</footer>