    <nav class="site-nav">
        <div class="site-title">
            <img src="/lo.png" alt="Social Hub Logo" class="logo">
          <div class="lo">            
            <a href="/"><h1>Social Hub</h1></a>
            <p>Creative Space</p>
          </div>
        </div>
        <button id="mode-toggle" aria-label="Toggle dark/light mode" ><i class="fa-solid fa-moon"></i></button>
        <ul>
            <li><a href="/blogs">Blogs</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/blogs/create">New Blogs</a></li>
        </ul>
    </nav>
    <script>
      
    </script>
    
       