<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs")%>

<body>
    <%- include("./partials/nav.ejs")%>
    <main class="container">
    <div class="about content">
    <h2>About Us</h2>
    <p>
        Welcome to Socialhub – your go-to blogging platform designed exclusively for students. 
        Whether you're passionate about sharing your academic journey, offering study tips, 
        exploring career paths, or simply expressing your thoughts, this space is built for you.
        <br><br>
        Our mission is to empower students to voice their ideas, connect with peers, and grow through 
        creativity and collaboration. Join our community, start writing, and let your words inspire others.
    </p>
</div>
</main>

    <%- include("./partials/footer.ejs")%>
</body>

</html>